:root {
  --navbar-height: 65px;
}

.app-background {
  background: rgba(50, 50, 50, 0.2);
  margin: var(--navbar-height) 0 0 0;
  width: auto;
}

.app-navbar {
  height: var(--navbar-height);
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 5px -5px black;
  z-index: 1000;
  display: flex;
  padding: 10px 100px;
  align-items: baseline;
  justify-content: space-between;
}

.navBar-link {
  margin: auto 20px;
}

.clickable {
  cursor: pointer;
}
